header.wrapper
	nav.navigation
		ul.navigation__list

			if work
				li.navigation__item.navigation__item--active проекты
			else
				li.navigation__item проекты

			if about
				li.navigation__item.navigation__item--active о себе
			else
				li.navigation__item о себе
