head
	meta(charset="utf-8")
	meta(name="description" content="Сайт и портфолио дизайнера Серафима Четверухина")
	meta(name="keywords" content="Сайт, портфолио, дизайн, серафим четверухин")
	title Серафим Четверухин, дизайнер
	link(rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192")
	link(rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16")
	link(href="styles/styles.css" rel="stylesheet" type="text/css")
